{% extends "layout.html" %}

{% block content %}
  <div class="container my-5">
    <h1 class="text-center mb-5">Loan Application Form</h1>

    <form class="row g-3" style="background-color: #f7f7f7; padding: 30px; border-radius: 10px;" method="POST" action="">
      {{ form.hidden_tag() }}
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            Personal Information
          </div>
          <div class="card-body">
            <div class="mb-3">
              <label for="gender" class="form-label">Gender</label>
              {{ form.gender(class="form-control", id="gender") }}
            </div>
            <div class="mb-3">
              <label for="married" class="form-label">Married</label>
              {{ form.married(class="form-control", id="married") }}
            </div>
            <div class="mb-3">
              <label for="dependents" class="form-label">Dependents</label>
              {{ form.dependents(class="form-control", id="dependents") }}
            </div>
            <div class="mb-3">
              <label for="education" class="form-label">Education</label>
              {{ form.education(class="form-control", id="education") }}
            </div>
            <div class="mb-3">
              <label for="self_employment" class="form-label">Self Employment</label>
              {{ form.self_employment(class="form-control", id="self_employment") }}
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            Financial Information
          </div>
          <div class="card-body">
            <div class="mb-3">
              <label for="applicant_income" class="form-label">Applicant Income</label>
              {{ form.applicant_income(class="form-control", id="applicant_income") }}
            </div>
            <div class="mb-3">
              <label for="coapplicant_income" class="form-label">Co-Applicant Income</label>
              {{ form.coapplicant_income(class="form-control", id="coapplicant_income") }}
            </div>
            <div class="mb-3">
              <label for="loan_amount" class="form-label">Loan Amount</label>
              {{ form.loan_amount(class="form-control", id="loan_amount") }}
            </div>
            <div class="mb-3">
              <label for="loan_term" class="form-label">Loan Term</label>
              {{ form.loan_term(class="form-control", id="loan_term") }}
            </div>
            <div class="mb-3">
              <label for="prop_area" class="form-label">Property Area</label>
              {{ form.prop_area(class="form-control", id="prop_area") }}
            </div>
            <div class="mb-3">
              <label for="credit_history" class="form-label">Credit History</label>
              {{ form.credit_history(class="form-control", id="credit_history") }}
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="form-group text-center">
          {{ form.submit(class="btn btn-primary btn-block", style="font-weight: bold;") }}
        </div>
      </div>
    </form>
    
    
  </div>
{% endblock content %}