{% extends "layout.html" %}
{% block content %}
<article class="media content-section">
  <div class="row">
    <div class="col-md-2 text-center align-self-center">
      <img class="rounded-circle article-img"
        src="{{ url_for('static', filename='profile_pics/' + customer.author.image_file) }}">

      <a class="mr-2" href="{{ url_for('users.user_customers', username=customer.author.username) }}">{{
        customer.author.username }}</a>
      <p><small class="text-muted">{{ customer.date_created.strftime('%Y-%m-%d') }}</small></p>
    </div>
    <div class="media-body col-md-10">
      <div class="article-metadata">
        {% if customer.author == current_user %}
        <div>
          <a class="btn btn-secondary btn-sm mt-1 mb-1"
            href="{{ url_for('customers.update_customer', customer_id=customer.id) }}">Update</a>
          <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal"
            data-target="#deleteModal">Delete</button>
          <a class="btn btn-info btn-sm mt-1 mb-1"
            href="{{ url_for('customers.new_loan_application', customer_id=customer.id) }}">New Loan</a>
        </div>
        {% endif %}
      </div>
      <h2 class="article-title">{{ customer.customer_name }}</h2>
      <p class="article-content">{{ customer.content }}</p>
      {% for app in ['insurance', 'mortgage', 'loan'] %}
      <div class="row border border-light-subtle">
        <div class="col-md-8 border border-light-subtle">An {{ app }} application</div>
        <div
          class="col-md-4 text-center border border-light-subtle {% if app == 'insurance' %}{% if customer.res_ins == 1 %}bg-info{% elif customer.res_ins == 0 %}bg-danger{% endif %}{% elif app == 'mortgage' %}{% if customer.res_mor == 1 %}bg-info{% elif customer.res_mor == 0 %}bg-danger{% endif %}{% else %}{% if customer.res_loan == 1 %}bg-info{% elif customer.res_loan == 0 %}bg-danger{% endif %}{% endif %}">
          {% if app == 'insurance' %}
          {% if customer.res_ins == 1 %}
          Approved
          {% elif customer.res_ins == 0 %}
          Denied
          {% else %}
          Not Applied
          {% endif %}
          {% elif app == 'mortgage' %}
          {% if customer.res_mor == 1 %}
          Approved
          {% elif customer.res_mor == 0 %}
          Denied
          {% else %}
          Not Applied
          {% endif %}
          {% else %}
          {% if customer.res_loan == 1 %}
          Approved
          {% elif customer.res_loan == 0 %}
          Denied
          {% else %}
          Not Applied
          {% endif %}
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</article>
<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete customer?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <form action="{{ url_for('customers.delete_customer', customer_id=customer.id) }}" method="POST">
          <input class="btn btn-danger" type="submit" value="Delete">
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}